
<script type="text/javascript">
       
    function toggle_visibility(evt) {
        evt.preventDefault()
        //console.log(evt.currentTarget)
       var id = evt.currentTarget.getAttribute('data-toggle');
       //console.log(id)
       var e = document.getElementById(id);
       //console.log(e)
       if(e.style.display == 'none')
          e.style.display = 'block';
       else
          e.style.display = 'none';
    }

    const toggleArray =  document.querySelectorAll('[data-toggle]')
    console.log(toggleArray)
    toggleArray.forEach(element => {
        element.addEventListener('click',toggle_visibility);
    });

</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</div class="container">
<footer>&copy ChoreSuperStar</footer>
</div>
</html>