${header}
<form action="/members-only/list/addContact" method="POST">
    <label for="name">
        <input name = "name" type="text" placeholder="name" required>
    </label>
    <label for="address">
        <input name = "address" type="text" placeholder="address">
    </label>
    <label for="phonenumber">
        <input name = "phone" type="text" placeholder="phone number">
    </label>
    <label for="email">
        <input name = "email" type="email" placeholder="email">
    </label>
    <button type="submit">submit</button>
</form>
${footer}