${header}
<div class="container">
    <div class="homepage">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="">Chore Super Star</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav" style="margin-left: auto;">
                    <li class="navbar-item">
                        <a class="nav-link" href="/contactUs">Contact Us</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
<div class="card container bg-primary text-dark" id="brsu" style="width:36rem;">
    

    <div class="card-body">
        <h1>Sign Up</h1>
        <form action="/user/create" method="POST">
            <div class="mb-3">

                <label for="exampleInputEmail1" class="form-label  text-dark">Username</label>

                <input required autofocus name="username" type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="usernameHelp">

                    <div id="usernameHelp" class=" text-dark form-text">We'll never share your username with anyone
                        else.</div>
            </div>

            <div class="mb-3">

                <label for="exampleInputPassword1" class=" text-dark" form-label>Password</label>

                <input required name="password" type="password" class="form-control" id="exampleInputPassword1">

            </div>

            <button type="submit" class="button big blue">Submit</button>

        </form>
    </div>
</div> 
<br><br>
<a href="#" onclick="history.go(-1)">Back to Login</a>
<br><br>
<br><br>
${footer}