${header}
<div class="container">
    <div class="homepage">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="">Chore Super Star</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav" style="margin-left: auto;">
                    <li class="navbar-item">
                        <a class="nav-link" href="/contactUs">Contact Us</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                    </li>
                </ul>
            </div>
        </nav>
<div class="container bg-primary text-dark">
    
    <div class="item1">
        <h1>Add a name to your team</h1>
        <form action="/members-only/userhome/newTeam" method="POST">
            <label for="name">
                <input name = "name" type="text" placeholder="name" required>
            </label>

    </div>

    <div class="item2">
       
            
            <h3>Now add all the people you want to help you out with the chores!!!</h3>
    </div>
            <div class="item3">   
                    <ul class="no-button">
                        ${contacts.map(el => `<li>${el.username}  <input type="checkbox" name="checked" value="${el.id}"  ></li>`).join('')}
                    </ul>
                    <button class="button big blue" type="submit">submit</button>
                </form>
             </div>
</div>
<br><br><br>
${footer}

