
${header}
<div class="container bg-primary text-dark">
  <div class="item4">
      
    <img src="/images/hero2.png" alt="page logo">
  
</div>
  <div class="item1">
    <h1>Welcome to ${thisTeam.name}!</h1>

    

  </div>

    <div class="item2">
      <h2>Team Members</h2>
     
      <ul class="no-button">
          ${users.map(el => `<li>${el.username} </li>`).join('')}
      </ul>
    </div>

  <div class="item3">
      <form action="${tid}/chore"  method="POST">
        <br>
        <br>
          <textarea name="chore" id="" cols="20" rows="10"></textarea>
          <br>
        <button class="button big blue" type="submit">Add Chore</button>
      </form>
      <br>
      <p>Click on the chore name to add a comment!</p>
      ${chores.map(chore => `
        <div class="item5">
          <ul class="no-button">
          <li >
            <a style="font-size: 1.4em;" class="a1" href="#" data-toggle="${chore.id}"><b>${chore.name}</b> 
              <br> <i>${chore.createdAt.toString().slice(4,21)}</i></a>
              <form action="${chore.id}/${tid}/deleteChore" method="POST">
            <button class="button big blue" type="submit">Delete this chore</button></form>
          </li>
          
          <div id="${chore.id}" class= "hidden" >

                <ul class="no-button">
                  <div class="item6">
                    <br>
                    ${
                    chore.Comments.map(c => ` 
                    <div class="item7">
                      <div>
                    <li> <b>${c.username}</b> ~ ${c.post} -- ${c.createdAt.toString().slice(4,21)}  </li></div></div>`).join('')}
                      <form action="${tid}/comment" method="POST">
                        <br><textarea name="comment" id="" cols="20" rows="10" placeholder="add a comment to ${chore.name}"></textarea>
                        <input  type="hidden" name="itemID" value="${chore.id}">
                        <br>
                        <button class="button big blue" type="submit">Add Comment</button>
                      </form>
                </div>
                </ul>
              </div>
            </ul>

      </div>

      
  <hr>
  `).join('')}

</div>
<br><br>

<!-- need to work on this! -->
<!-- <a class="a1" href="userhome">Back to User Home</a> -->
${footer}

