@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');




/* 


@media (min-width:768px){
}

#brsu {
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

body{
    text-align: center;
    margin-top: 15%;
    background-color: darkslategray;
    font: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
   display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  
  background-color: darkslategray;
  color: whitesmoke;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 
}
.hidden {
    display: none;
}
html {
    scroll-behavior: smooth;
  }
  body {
    margin: 0;
    display: grid;
    grid-template-columns: min-content 1fr;
    font-family: system-ui, sans-serif;
    
    /* this breaks position sticky in Firefox */
    /* overflow-x: hidden; */
  /* }
  header {
    grid-column: 1 / 3;
    background: #455A64;
    color: white;
    padding: 4rem;
    text-align: center;
  }
  nav {
    white-space: nowrap;
    background: #37474F;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* Only stick if you can fit */
  /* @media (min-height: 300px) {
    nav ul {
      position: sticky;
      top: 0;
    }
  }
  nav ul li a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
  }
  nav ul li a.current {
    background: black;
  }
  main {
    padding-bottom: 40rem;
  }
  section {
    padding: 2rem;
    margin: 0 0 2rem 0;
  }
  footer {
    grid-column: 1 / 3;
    background: #607D8B;
    padding: 5rem 1rem;
  }
.chorecard {
    border: dashed;
    border-color: red;
}

.mx-auto {
    background: tan;
}

.contactUs {
    margin-left: auto;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.image {
    padding: 0 0 0 150px;
   max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}
img {
    height: 100%;
    width: 50%;
}

.navbar-brand {
    padding: 0 0 0 20px;
 
}

.navbar-item {
    padding:0 15px 0 0;
}

.nav-item {
    padding: 0 20px 0 0;;
}

h2 {
    text-align: center;
}

.back-btn {
    font-size: 1.2em;
    font-family: 'Fredoka One', cursive;
    color: whitesmoke;
    text-align: left;
    margin-left: 20px;
}
.userhome {
    background-color: darkslategrey;
    color: whitesmoke
}

a:link {
    color:white;
    font-size: 1.2em;
    font-family: 'Fredoka One', cursive;
    background-color: transparent;
    text-decoration: none;
    text-align: left;
}
a:visited {
    font-size: 1em;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    font-size: 1.4em;
   
    background-color: transparent;
    text-decoration: underline;
}  */