<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="styleAbout.css" />
  </head>
  <body>
      <div class="mx-auto" style="width: 600px; background-color: tan;">
      <h1>Welcome to the About Page</h1>
      <a class="navbar-item"
        href="about.html"></a>
    
    </div>
    <div class="about">
      <p class="aboutHeader"></p>
      <br><br>
        <p class="aboutContent">We created this site as a way for you collaborate with others to complete your chore's list </p>
        <p class="aboutContent">Check out our app for your chore remindrs </p>
        <div class="search">
    </div>
  </body>
</html>