<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="styleAbout.css" />
  </head>
  <body>
      <div class="mx-auto" style="width: 600px">
      <h1>Welcome to the About Page</h1>
      <a class="navbar-item"
        href="about.html"></a>
    
    </div>
    <div class="about">
      <p class="aboutHeader"></p>
      <br><br>
      <div class="about-logo">
          <img src="images/hero2.png" alt="page logo">
          <br><br>
      </div>
        <p class="aboutContent">Chore Super Star was developed and implemented by four passionate programmers in January of 2021. Chore Super Star is an interactive app that allows users to create chores and share those chores with other users in a team setting. This allows everyone from busy wives to construction managers, to keep track of who’s doing what chores </p>
        <!-- <p class="aboutContent">Check out our app for your chore remindrs </p> -->
        
        <div class="search">
    </div>
    <br><br>
    <a href="#" onclick="history.go(-1)">Go Back</a>
  </body>
</html>