${header}
<div class="container">
  <div class="homepage">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="">Chore Super Star</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav" style="margin-left: auto;">
                  <li class="navbar-item">
                      <a class="nav-link" href="/contactUs">Contact Us</a>
                  </li>
                  <li class="nav-item">
                  <a class="nav-link" href="/about">About</a>
                  </li>
              </ul>
          </div>
      </nav>
<div class="container bg-primary text-dark">
  <div class="item4" style=" justify-content: center;">
    <img src="/images/hero2.png" alt="page logo">
  </div>
  <div class="item1">
    <h1>Welcome to our Contact Page</h1>
    <a class="navbar-tiem"
    href="contact-us.html"></a>
  </div>
    <div class="item2">
      <p class="contactCont">Contact us today at one of the following:</p>
    </div>
    <div  class="item3">
        <ul> 
          
          <li>Matt Robinson - <a style="color: blue;" href="https://github.com/Matt-Robinson-byte"> https://github.com/Matt-Robinson-byte</a></li>
          <li>Darren Raines - <a style="color: blue;" href="https://github.com/draines1"> https://github.com/draines1</a></li>
          <li>Brian Summerset - <a style="color: blue;" href="https://github.com/bsummerset"></href>https://github.com/bsummerset </a></li>
          <li>Will Burke - <a style="color: blue;" href="https://github.com/burke3601"></href>https://github.com/burke3601</a></li>
        </ul>
      </div>
      
      <div>
      <br><br>
      <a href="#" onclick="history.go(-1)">Go Back</a>
    </div>
  </div>
 ${footer}